<main class="max-w-screen-2xl font-inter h-dvh justify-center text-center flex flex-col mx-auto py-10">
	<h1 class="text-4xl text-gray-500">{{joke.title}}</h1>
	<p class="text-2xl">{{joke.content}}</p>
</main>