<main class="max-w-screen-2xl font-inter h-dvh justify-center text-center flex flex-col mx-auto py-10">
	<section>
		<h1 class="text-4xl">404</h1>
		<p class="text-xl text-gray-500">Whoops, esta pagina no existe</p>
	</section>
</main>
